#!/usr/bin/env bash
source_up_if_exists

unset TF_TOKEN
unset TF_TOKEN_app_terraform_io

set -a
# shellcheck source=/dev/null
source <(doppler secrets download -p homelab -c main --no-file --format env)
export TF_TOKEN_app_terraform_io=$TF_TOKEN
set +a
