server-name={{ minecraft_server_name }}
gamemode={{ minecraft_gamemode }}
difficulty={{ minecraft_difficulty }}
allow-cheats=false
max-players={{ minecraft_max_players }}
online-mode={{ minecraft_online_mode | lower }}
allow-list=false
server-port={{ minecraft_port }}
server-portv6=19133
view-distance=10
tick-distance=4
player-idle-timeout=30
level-name={{ minecraft_level_name }}
level-seed={{ minecraft_level_seed }}
default-player-permission-level=member
texturepack-required=false
server-authoritative-movement=server-auth
server-authoritative-block-breaking=false
chat-restriction=None
