global:
  scrape_interval: 60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: node
    static_configs:
      - targets:
{% for host in groups['exporters'] %}
        - "{{ hostvars[host]['ansible_host'] }}:9100"
{% endfor %}

{% if groups['arr'] | default([]) | length > 0 %}
  - job_name: exportarr-sonarr
    static_configs:
      - targets:
        - "{{ hostvars[groups['arr'][0]]['ansible_host'] }}:{{ exportarr_sonarr_port }}"

  - job_name: exportarr-radarr
    static_configs:
      - targets:
        - "{{ hostvars[groups['arr'][0]]['ansible_host'] }}:{{ exportarr_radarr_port }}"

  - job_name: exportarr-lidarr
    static_configs:
      - targets:
        - "{{ hostvars[groups['arr'][0]]['ansible_host'] }}:{{ exportarr_lidarr_port }}"
{% endif %}
