PACKAGE_NAME="{{ ax88179b_dkms_name }}"
PACKAGE_VERSION="{{ ax88179b_driver_version }}"
BUILT_MODULE_NAME[0]="{{ ax88179b_module_name }}"
DEST_MODULE_LOCATION[0]="/kernel/drivers/net/usb/"
AUTOINSTALL="yes"
MAKE[0]="make"
CLEAN="make clean"
